/* Cited from: https://codepen.io/tedib/pen/mdypQbg */

:root {
    --nav-color: #ffffff;
    --nav-background-color: #31343d;
    --avatar-background-color: #b9c6ae;
    --work-background-color: #f3f3f3;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 1em;
}

.logo {
    padding-left: 1em;
}

.logo a {
    color: var(--nav-color);
    text-decoration: none;
}

nav span {
    padding: 0 1em;
}

nav a {
    color: var(--nav-color);
    text-decoration: none;
}

.avatar {
    display: block;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin-right: 1em;
}

/* main {
    display: flex;
    flex-wrap: wrap;
} */

section {
    display: flex;
}

.avatar-block {
    display: flex;
    justify-content: center;
    background-color: var(--avatar-background-color);
    padding: 80px;
}

.description {
    display: flex;
    background-color: var(--nav-color);
    justify-content: space-evenly;
    align-items: center;
}

#about-content {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--nav-color);
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#work {
    display: block;
    flex-direction: column;
    padding: 2em;
    background-color: var(--work-background-color);
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    /* min-width: 300px;
    min-height: 300px; */
    padding: 2em;
    background-color: var(--nav-color);
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#contact {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: var(--nav-color);
}

#contact p {
    margin: 1em 2em;
}

#contact form {
    text-decoration: none;
    align-self: center;
}

button {
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    margin: 1em 0;
    cursor: pointer;
}

/* ****** ****** */
@media all and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 1em;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin: 0.25em 0;
        align-self: left;
    }
}

/* ****** ****** */
@media all and (max-width: 480px) {
    header {
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        text-align: center;
    }

    nav span {
        padding: 1em 1em;
    }

    /* main {
        flex-direction: column;
    } */
}
